# requirements.txt
fastapi
uvicorn[standard]
motor
ccxt
numpy
python-dotenv
pydantic
scikit-learn
tenacity
prometheus_client
sentry-sdk
requests
pytest
coverage
bandit
dash
pandas
plotly
dash[async]
gunicorn==20.1.0
